#toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#toolbar li {
    float: left;
    height: 38px;
}

#buttons {
    display: block;
}

#funText {
    text-align: center;
    text-decoration: none;
    margin-top: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pets {
    height: 500px;
    float: right;
    margin-right: 20px;
    margin-top: 118px;
}

#hobbies {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

#likes {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

.intro {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    padding-left: 10px;
}

#petsText {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    float: right;
    margin-right: 100px;
    margin-top: 500px;
}